# Virtual Environment
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Environment Variables
.env

# ML Artifacts
artifacts/*
!artifacts/.gitkeep

# Dataset
data/raw/social_media_data.csv

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db