# Virtual environment
venv/
.venv/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Raw and processed datasets
data/raw/*
data/processed/*

# Keep directories in Git
!data/raw/.gitkeep
!data/processed/.gitkeep

# Model artifacts
artifacts/*
!artifacts/.gitkeep

# IDE
.vscode/

# Operating system files
.DS_Store
Thumbs.db/